[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==8.3.2"
port-for = "==0.7.2"
mirakuru = "==2.5.2"
boto3 = "==1.35.10"
boto3-stubs = {version = "==1.35.5", extras = ["dynamodb"]}

[dev-packages]
towncrier = "==24.7.1"
pytest-cov = "==5.0.0"
pytest-xdist = "==3.6.1"
black = "==24.8.0"
mypy = "==1.11.1"
tbump = "==6.11.0"
ruff = "==0.6.1"
