# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
pytest-cov==2.12.1
pytest-xdist==2.2.1
coverage==5.5 # pytest-cov
boto3==1.17.87
mirakuru==2.4.1
port-for==0.6.1
pytest==6.2.4
-e .[tests]
