# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
pytest-cov==2.8.1
pytest-xdist==1.31.0
coverage==5.0.3 # pytest-cov
boto3==1.11.3
mirakuru==2.1.2
port-for==0.4
pytest==5.3.2
-e .[tests]
